body{
    background-image: url(../images/skin/back.jpg);
    background-size: cover;
    color: #ffffff;
}

.border{
    border: 0.5px solid darkgrey;
    border-radius: 5px;
}

.adjust{
    padding-left: 30px;
    padding-right: 30px;
}